.App {
  color: red;
}

.gr {
  display: grid;
  grid-template: 
    "a a c d" 100px
    "e f g h" 100px
    / 200px 200px 200px 200px;
}

.item1 {
  grid-area: a;
  background-color: black;

}
.item2 {
  grid-area: b;
  background-color: fuchsia;
}
.item3 {
  grid-area: c;
  background-color: blue;
}
.item4 {
  grid-area: d;
  background-color: green;
}
.item5 {
  grid-area: e;
  background-color: yellow;
}
.item6 {
  grid-area: f;
  background-color: gray;
}
.item7 {
  grid-area: g;
  background-color: brown;
}
.item8 {
  grid-area: h;
  background-color: chocolate;
}