.app-wrapper {
  padding-left: 15px;
  padding-right: 30px;
  margin: 0 auto;
  display: grid;
  max-width: 1000px;
  grid-template-areas: 
  "h h"
  "n c"
  "w c";
  grid-template-rows: 5% 20% auto;
  grid-template-columns: 20% 80%;
  row-gap: 20px;
  column-gap: 20px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(224, 224, 224);
  border-radius: 3px;
}

.weather {
  grid-area: w;
  position: relative;
}
.weatherYandex {
  position: absolute;
}
@media (max-width: 850px) {
  .weatherYandex {
    display: none;
  }
}
@media (max-width: 700px) {
  .app-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: grid;
    min-width: none;
    grid-template-areas: 
    "h"
    "n"
    "c";
    grid-template-rows: 45px auto auto;
    grid-template-columns: 100%;
    row-gap: 10px;
  }
}